@charset "utf-8";
/* CSS Document */

/* 字体 */
.fz-12{ font-size: 12px;}
.fz-14{ font-size: 14px;}
.fz-16{ font-size: 16px;}
.fz-18{ font-size: 18px;}

/*色值*/
.cor-red{ color: #d44640;}

/* 间距 */
.m0{ margin:0;!important;}
.mt10{ margin-top:10px;}
.mr10{ margin-right:10px;}
.mb10{ margin-bottom:10px;}
.ml10{ margin-left:10px;}
.mt15{ margin-top:15px;}
.mr15{ margin-right:15px;}
.mb15{ margin-bottom:15px;}
.ml15{ margin-left:15px;}
.mt20{ margin-top:20px;}
.mr20{ margin-right:20px;}
.mb20{ margin-bottom:20px;}
.ml20{ margin-left:20px;}
.p0{ padding: 0!important;}
.pt10{ padding-top:10px;}
.pr10{ padding-right:10px;}
.pb10{ padding-bottom:10px;}
.pl10{ padding-left:10px;}
.pt15{ padding-top:15px;}
.pr15{ padding-right:15px;}
.pb15{ padding-bottom:15px;}
.pl15{ padding-left:15px;}
.pt20{ padding-top:20px;}
.pr20{ padding-right:20px;}
.pb20{ padding-bottom:20px;}
.pl20{ padding-left:20px;}

/*对齐方式*/
.float-left{ float: left;}
.float-right{ float: right ;}
.float-none{ float:none !important;}
.text-left{ text-align: left !important;}
.text-right{ text-align: right !important;}
.text-center{ text-align: center !important;}
.middle{ display: inline-block;vertical-align: middle;*display: inline;*zoom: 1;}

/* 文字对齐 */
.jusy{ text-align: justify;}

/* 定位 */
.absolute{ position: absolute;}
.fixed{ position: fixed;}
.relative{ position: relative;}

/*分割线*/
.space-10{ max-height: 1px; min-height: 1px; border-bottom: 1px dashed #ccc; overflow: hidden; margin: 5px 0 4px; clear: both;}
.space-20{ max-height: 1px; min-height: 1px; border-bottom: 1px dashed #ccc; overflow: hidden; margin: 10px 0 9px; clear: both;}
.space-30{ max-height: 1px; min-height: 1px; border-bottom: 1px dashed #ccc; overflow: hidden; margin: 15px 0 14px; clear: both;}

/* 侧导航 */
.navbar{ background: #2e3f4f; position: fixed; top: 0; left: 0; bottom: 0;}
.navmain{ width: 220px;}
.navlist a{ display: block; padding: 15px 20px; color: #a7b1c2;}
  

